*{
    box-sizing: border-box;
}
header{
    text-align: center;
    
}

.head  {
    width: 90%;
    background-color: rgb(165, 161, 161);
    display: inline-block;
      
}
nav {
    display: inline-block;
}
li{
    margin: 40px;
    display: inline-block;

}
.head nav ul li a{
    text-decoration: none;
    
}
section{
    text-align: center;
    width: 50%;
    margin-left: 170px;
}
.more{
    display: flex;
}
.edit {
    
    flex: 33.33%;
    padding: 8px;
    margin-right: 10px;
  }
 .proparty{
    text-align: center;
    margin-left: 170px;
    width: 30%;

  }
.thelast{

    width: 50%;
    margin-right: 40px;
    float: right;

}